/* Geral */

body {
    margin: 0 auto;
    padding-top: 250;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1152px;
    display: block;
    text-align: center;
    justify-content: space-between;

}
.geral{
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
}
hr {
    width: 500;
}
body br {
    line-height: 2;
}


.cor {
    margin-left: 250;
    margin-right: 250;
    color: white;
    background-color: rgb(47, 47, 47);
    padding: 10;
}
